# Question: What is the Risk for given data? where seed=160 km/h,car_age=10 years,experience=5 yearrs..

# y=mx+c,,,
M=Coefficients..
Y =DV..
speed,car_age,experience= IV..
C = Intercept..
y=m1X1 + M2X2 + M3X3 +....+ MnXn + C..
..risk = M1*speed+ M2*car_age + M3*experience + intercept

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df =pd.read_csv('2.car age experience risk multiple regression.csv')
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.experience  #find missing value

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

# There are no value in row 3,,so find out the mean and set there

In [5]:
df.experience.mean() # finding mean without calculate null value

6.6

In [6]:
df.experience.median()

5.0

In [7]:
exn_fit= df.experience.median()
exn_fit

5.0

In [8]:
df.experience = df.experience.fillna(exn_fit)
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [9]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

# Pre processing complete and linear regression model start

In [10]:
reg = linear_model.LinearRegression()
reg

LinearRegression()

In [11]:
reg.fit(df[['speed','car_age','experience']],df.risk) #Two dimension for input 1 dimen for output

LinearRegression()

In [12]:
reg.predict([[160,10,5]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

# Answer =array([71.37146872])

In [13]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [14]:
reg.intercept_

33.410000910435855

In [15]:
#y=m1X1 + M2X2 + M3X3 +....+ MnXn + C.. ..
#risk = M1speed+ M2car_age + M3*experience + intercept
y=0.33059217*160 + 1.61053246*10 + 5*-6.20772074 + 33.410000910435855
y

71.37146901043586

In [16]:
#Congratulation ,,predict value with risk is exactly same